* {
    -primary-dark: #2C3A45;
    -primary: #394956;
    -primary-light: #5D6B75;

    -text-color: #333333;
    -accent: #4A90E2;
    -nav-border: #3498db;
    -background: #F0F2F4;

}

.text-field:disabled{

    -fx-text-fill: -primary-dark;

}
.Splash-background {
    -fx-background-color: -primary-dark;
}
#loadingProgress {
    -fx-accent:-primary;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: -primary;
    -fx-border-radius: 5;          /* Rounded corners */
    -fx-font-size: 14px;
    -fx-text-fill: white;        /* Dark text color */
}

/* Style the dropdown options (list cells) */
.combo-box .list-cell {
    -fx-background-color: white;      /* Default background */
    -fx-text-fill: #333333;           /* Default text color */
    -fx-padding: 5px;                 /* Padding around text */
    -fx-font-size: 14px;
}

.combo-box .list-cell:filled:selected:hover {
    -fx-background-color: -primary-dark;    /* Light blue for selected option */
    -fx-text-fill: white;             /* White text for selected option */
}

/* Style list cells on hover */
.combo-box .list-cell:hover {
    -fx-background-color: -primary;    /* Light blue on hover */
    -fx-text-fill: white;           /* Dark text color */
}


.add-branch-container {
    -fx-background-color: white;
}

.title-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: -primary-dark;
}

.subtitle-label {
    -fx-font-size: 14px;
    -fx-text-fill: -primary-light;
    -fx-padding: 0 0 10 0;
}

.input-field {
    -fx-background-color: -background;
    -fx-background-radius: 4;
    -fx-padding: 10;
    -fx-pref-width: 420;
}

.input-field:focused {
    -fx-background-color: white;
    -fx-border-color: -primary;
    -fx-border-radius: 4;
    -fx-border-width: 1;
}
.field-label {
    -fx-font-size: 12px;
    -fx-text-fill: -primary-dark;
    -fx-font-weight: bold;
}

.input-field {
    -fx-background-color: -background;
    -fx-background-radius: 4;
    -fx-padding: 10;
    -fx-prompt-text-fill: transparent; /* Remove placeholder text */
}


